{% extends 'base.html' %}
{% block title %}Log in to an area{% endblock %}
{% block content %}
	<h1>Log in to an access controlled area</h1>
	<form method="post" action="{% url 'self_log_in' %}">
		{% csrf_token %}
		<div class="form-group">
			<h4>Open which door? (Not needed, if only access should be logged.)</h4>
		{% for d in doors %}
			<div class="radio">
			<label><input type="radio" name="door" value="{{ d.id }}" required {% if forloop.first %}checked{% endif %}>{{ d.name }} <em>(to {{ d.area }})</em></label>
			</div>
		{% endfor %}
			<div class="radio">
			<label><input type="radio" name="door" value="" required><em>none</em></label>
			</div>
		</div>
		<div class="form-group">
		{% if areas|length == 1 %}
			You are only able to access one area: {{ areas.0 }}
			<input type="hidden" name="area" value="{{ areas.0.id }}">
		{% else %}
			<h4>Log in to which area? (Irrelevant, if door is chosen.)</h4>
			<div class="radio">
			<label><input type="radio" name="area" value="" required checked><em>(unspecified)</em></label>
			</div>
			{% for a in areas %}
				<div class="radio">
					<label><input type="radio" name="area" value="{{ a.id }}" required {% if forloop.first %}checked{% endif %}>{{ a }}</label>
				</div>
			{% endfor %}
		{% endif %}
		</div>
		<div class="form-group">
			{% if projects|length == 1 %}
				You only have one active project. Area access will be billed to: {{ projects.0 }}
				<input type="hidden" name="project" value="{{ projects.0.id }}">
			{% else %}
				<h4>Charge area access to which project?</h4>
				{% for p in projects %}
					<div class="radio">
						<label><input type="radio" name="project" value="{{ p.id }}" required {% if forloop.first %}checked{% endif %}>{{ p }}</label>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<input type="submit" class="btn btn-success" value="Log in">
	</form>
{% endblock %}
