{% extends 'base.html' %}
{% block title %}Directory{% endblock %}
{% block content %}
	<h1>Labmember Directory	</h1>
	<p>
		This page contains a list of all active labmembers. You may email a labmember by clicking on that person's name.
		Names of staff and equipment responsibles are in <em style="color:green">green</em>.
	</p>
	<p>
		<em>The condensed <a href="#staffdir">list of staff</a> only is repeated further down.</em>
	</p>

  <div class="col-lg-8" style="margin-top:30px">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>E-Mail</th>
						<th>Phone</th>
						<th>Affiliation</th>
						<th>Joined/Introday</th>
					</tr>
				</thead>
				<tbody>
					{% for person in people %}
						<tr>
							<td>
							{% if person.special %}<em>{% endif %}
							<a href="{% url 'get_email_form_for_user' person.user.id %}" style="color:{% if person.special %}green{% else %}blue{% endif %};">{{ person.user.get_full_name }}</a></td>
							{% if person.special %}</em>{% endif %}
							<td>{{ person.email }}</td>
							<td>{{ person.phone }}</td>
							<td>{{ person.group }}</td>
							<td>{{ person.intro }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>

  <div class="col-lg-8" style="margin-top:30px">
	<h2 id="staffdir">Staff Directory</h2>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>E-Mail</th>
						<th>Phone</th>
						<th>Primary responsible for</th>
						<th>Backup responsible for</th>
					</tr>
				</thead>
				<tbody>
					{% for person in people %}
					{% if person.special %}
					<tr>
					<td><a href="{% url 'get_email_form_for_user' person.user.id %}" style="color:green;">{{ person.user.get_full_name }}</a></td>
					<td>{{ person.email }}</td>
					<td>{{ person.phone }}</td>
					<td>{% for tool in person.primary_owning %}&bull; <a href="{% url 'tool_control' tool.id %}">{{ tool.name }}</a><br />{% endfor %}</td>
					<td>{% for tool in person.backup_owning %}&bull; <a href="{% url 'tool_control' tool.id %}">{{ tool.name }}</a><br />{% endfor %}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
	</div>
{% endblock %}
