{% extends 'base.html' %}
{% block title %}Directory{% endblock %}
{% block content %}
	<h1>User Directory	</h1>
	<p>
		This is a list of all active {% if showgroup %}members of group "{{ showgroup.name }}"{% else %}users{% endif %}.
		<br />
		You may write e-mail to a user by clicking on their name.
		Names of people with <em style="color:green">staff permissions are in green</em>.
	</p>
	<form action="{% url 'directory' %}" class="form-inline" method="get">
	<p>
	You can filter the list for
	<select name="affiliation" id="affiliation">
		<option value="0">---ALL---</option>
		{% for a in active_groups %}
		<option value="{{ a.id }}" {% if a == showgroup %}selected{% endif %}>{{ a.name }}</option>
		{% endfor %}
	</select>
		<input type="submit" value="Show">
	</p>
	</form>
	<p><em>The complete <a href="#staffdir">list of equipment responsibles</a> is further down.</em></p>
	{% if staffdisplay %}
	<p><em>Administrative staff can download the <a href="{% url 'userlist' %}">complete user list in XLSX</a> format.</em></p>
	{% endif %}

  <div class="col-lg-8" style="margin-top:30px">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name [Tools]</th>
						<th>E-Mail</th>
						<th>Phone</th>
						<th>Affiliation/Group</th>
						<th>Joined/Introday</th>
						<th>Projects</th>
						{% if staffdisplay %}<th>Admin/Groups</th>{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for p in people %}
						{% if not showgroup or p.user.affiliation == showgroup %}
						<tr>
							<td>{% if p.special %}<em>{% endif %}
								<a href="{% url 'users_qualifications' p.user.id %}"{% if p.special %} style="color:green"{% endif %}>
								{{ p.user.get_full_name }}
								</a>
							{% if p.special %}</em>{% endif %}</td>
							<td><a href="{% url 'get_email_form_for_user' p.user.id %}">{{ p.user.email }}</a></td>
							<td>{% if p.user.phone %}{{ p.user.phone }}{% else %} {% endif %}</td>
							<td>{{ p.user.affiliation.name }}</td>
							<td>{{ p.intro }}</td>
							<td>{% for pjt in p.projects %}{{ pjt }} {% endfor %}
							</td>
							{% if staffdisplay %}
							<td><a href="{% url 'admin:NEMO_user_change' p.user.id %}">
								<small>/</small>
								{% for pg in p.permgroups %}{{ pg }} <small>/</small> {% endfor %}
							</a></td>
							{% endif %}
						</tr>
					 {% endif %}
					{%	endfor %}
				</tbody>
			</table>
	</div>

  <div class="col-lg-8" style="margin-top:30px">
	<h2 id="staffdir">Equipment Responsibles</h2>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name [Tools]</th>
						<th>E-Mail</th>
						<th>Phone</th>
						<th>Primary responsible for</th>
						<th>Backup responsible for</th>
						{% if staffdisplay %}<th>Admin/Groups</th>{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for p in people %}
					{% if p.primary_owning or p.backup_owning %}
					<tr>
						<td>{% if p.special %}<em>{% endif %}
						<a href="{% url 'users_qualifications' p.user.id %}"{% if p.special %} style="color:green"{% endif %}>
						{{ p.user.get_full_name }}
						</a>
						{% if p.special %}</em>{% endif %}</td>
					<td><a href="{% url 'get_email_form_for_user' p.user.id %}">{{ p.user.email }}</a></td>
					<td>{% if p.user.phone %}{{ p.user.phone }}{% else %} {% endif %}</td>
					<td>{% for tool in p.primary_owning %}&bull; <a href="{% url 'tool_control' tool.id %}">{{ tool.name }}</a><br />{% endfor %}</td>
					<td>{% for tool in p.backup_owning %}&bull; <a href="{% url 'tool_control' tool.id %}">{{ tool.name }}</a><br />{% endfor %}</td>
					{% if staffdisplay %}
					<td><a href="{% url 'admin:NEMO_user_change' p.user.id %}">
						<small>/</small>
						{% for pg in p.permgroups %}{{ pg }} <small>/</small> {% endfor %}
					</a></td>
					{% endif %}
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
	</div>
{% endblock %}
