{% extends 'base.html' %}
{% block title %}Project {{ eventtype }}{% endblock %}
{% block content %}
	<h1>Project {{ eventtype }} sums</h1>
	<div class="col-lg-12" style="margin-top:30px">
	{% if totals %}
		<h3>{{ eventtype }} sums for {% for p in projects %}{{ p.name }} {% endfor %}</h3>
		<h5>{{ start }} &mdash; {{ end }}</h5>
		<p><small><em>get this data as
		<a href="{% url 'project_sums' %}?outputtype=txt&eventtype={{ eventtype }}&pjts={% for p in projects %}{{ p.pk }},{% endfor %}&start={{ start|date:'Y-m-d' }}&end={{ end|date:'Y-m-d' }}">TAB-separated text</a>
		or <a href="{% url 'project_sums' %}?outputtype=xlsx&eventtype={{ eventtype }}&pjts={% for p in projects %}{{ p.pk }},{% endfor %}&start={{ start|date:'Y-m-d' }}&end={{ end|date:'Y-m-d' }}">XLSX-formatted spreadsheet</a>
		</em></small></p>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Tool</th>
					<th>Total Duration/min</th>
				</tr>
			</thead>
			<tbody>
				{% for e in totals %}
					<tr>
						<td>{{ e.tool }}</td>
						<td>{{ e.minutes }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No records exist between {{ start }} and {{ end }} for {{ eventtype }} eventsfor
		{% for p in projects %}{{ p.name }} {% endfor %}
	{% endif %}
	</div>
{% endblock %}
