{% extends 'base.html' %}
{% block title %}Tool usage{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
	<h1>Tool usage</h1>
	<form id="view_records" action="{% url 'toolstats' %}" class="form-inline" method="get">
	<p>Compile usage report for
	<select name="tool" id="tool">{% for t in tools %}
		<option value="{{ t.id }}"
		{% if t.id == tool %}selected{% endif %}>
		{{ t.name }}</option>
	{% endfor %}</select>
	</p>
		<div class="form-group">
			<div class="datetimepicker-container">
				between <input type="text" id="start" name="start" class="form-control" autocomplete="off" placeholder="start" value="{{ start|date:"Y-m-d" }}">
			</div>
		</div>
		<div class="form-group">
			<div class="datetimepicker-container">
				and <input type="text" id="end" name="end" class="form-control" autocomplete="off" placeholder="end" value="{{ end|date:"Y-m-d" }}">
			</div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="View usage records" onclick="javascript: form.action=' {% url 'toolstats' %}';">
{#			<input type="submit" class="btn btn-default" value="Download billing xlsx" onclick="javascript: form.action=' {% url 'billingxls' %}';"> #}
		</div>
	</form>
	<div class="col-lg-12" style="margin-top:30px">
		{% if toolusage %}
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Start</th>
						<th>End</th>
						<th>Duration/min</th>
						<th>Project</th>
						<th>Account,Group</th>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
					{% for e in toolusage %}
						<tr>
							<td>{{ e.start }}</td>
							<td>{{ e.end }}</td>
							<td>{{ e.minutes }}</td>
							<td>{{ e.projectname }}</td>
							<td>{{ e.groupname }}</td>
							<td>{{ e.user }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			{% if tool == 0 %}<p>Sorry, you don't have permission for viewing "{{ toolname }}"!</p>
			{% elif start or end %}
				No records exist between {{ start }} and {{ end }} for "{{ toolname }}".
			{% endif %}
		{% endif %}
	</div>
	<script>
		function on_load()
		{
			var timepicker_properties =
			{
				format: 'YYYY-MM-DD'
			};
			$('#start').datetimepicker(timepicker_properties);
			$('#end').datetimepicker(timepicker_properties);
		}
		$(on_load);
	</script>
{% endblock %}
