{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Email broadcast{% endblock %}
{% block content %}
	<h1>Email broadcast</h1>

	{% if error %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}

	Compose an email to...
	<ul>
		<li><a href="{% url 'email_broadcast' 'tool' %}">labmembers who are qualified for a specific tool</a></li>
		{% if user.is_staff %}
		<li><a href="{% url 'email_broadcast' 'all' %}">all labmembers</a></li>
		<li><a href="{% url 'email_broadcast' 'project' %}">labmembers who are working on a project</a></li>
		<li><a href="{% url 'email_broadcast' 'account' %}">labmembers who bill to an account</a></li>
		<li><a href="{% url 'email_broadcast' 'physicalaccess' %}">labmembers with permission to access a certain area</a></li>
		<li><a href="{% url 'email_broadcast' 'equiresp' %}">all labmembers who are equipment responsibles</a></li>
		<li><a href="{% url 'email_broadcast' 'pjtresp' %}">all labmembers who are project responsibles (e.g professors, principal investigators)</a> &mdash; remember to select inactive persons as well!</li>
		{% endif %}
	</ul>

	{% if search_base %}
		{% if not all %}
			<div class="row">
				<div class="col-sm-4">
					<input id="search" class="form-control" placeholder="Which {{ audience }}?" autofocus />
				</div>
			</div>
		{% endif %}
		<form id="email" method="get" action="{% url 'compose_email' %}">
			<input type="hidden" name="audience" value="{{ audience }}">
			<input type="hidden" id="selection" name="selection">
		</form>

		<script type="text/javascript">
			{% if all %}
				$( document ).ready(function() {
					$('#selection').val(1);
					$('#email').submit();
				});
			{% else %}
				$('#search').autocomplete('search_base', set_selection, {{ search_base|json_search_base }});
				function set_selection(jquery_event, search_selection, dataset_name)
				{
					$('#selection').val(search_selection.id);
					$('#email').submit();
				}
			{% endif %}
		</script>
	{% endif %}
{% endblock %}
